<section data-ng-controller="ItemsController" data-ng-init="find()">

	<div class="page-header">
		<h2>Items</h2>
	</div>


	<div class="table-responsive">
  		<table class="table table-bordered table-striped">
    		<tr data-ng-repeat="item in items">

    			<td>
    				<span data-ng-bind="$index+1"></span>
    			</td>
    			<td>
					<a data-ng-href="#!/items/{{item._id}}">
    					<span data-ng-bind="item.name"></span>
    				</a>
    			</td>

    			<td>
    				<div data-ng-show="authentication.user._id == item.user._id">
    					<a class="btn btn-primary" href="/#!/items/{{item._id}}/edit">
							<i class="glyphicon glyphicon-edit"></i>
						</a>
					</div>
    			</td>

    			<td>
    				<div data-ng-show="authentication.user._id == item.user._id">
    					<a class="btn btn-primary" data-ng-click="remove();">
							<i class="glyphicon glyphicon-trash"></i>
						</a>
					</div>
    			</td>

    		</tr>
  		</table>
	</div>

	<!--
	<div class="list-group">

		<a data-ng-repeat="item in items" data-ng-href="#!/items/{{item._id}}" class="list-group-item">
			<small class="list-group-item-text">
				Posted on
				<span data-ng-bind="item.created | date:'mediumDate'"></span>
				by
				<span data-ng-bind="item.user.displayName"></span>
			</small>
			<h4 class="list-group-item-heading" data-ng-bind="item.name"></h4>
			<p class="list-group-item-text" data-ng-bind="item.slug"></p>
			<p class="list-group-item-text" data-ng-bind="item.description"></p>
		</a>

	</div>
	-->

	<!--{{ items|json }}-->

	<div class="alert alert-warning text-center" data-ng-if="items.$resolved && !items.length">
		No items yet, why don't you <a href="/#!/items/create">create one</a>?
	</div>

</section>
